<!-- <div>
  <label> DOB: </label>
  <input type="date" #dobInput (blur)="calculateAge()" >
</div>
<div>
  <label> Age: </label>
  <input type="text" #ageInput>
</div> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="hello">
  <div class="hello">
   
    <ul class="navbar-nav mr-auto">
      &nbsp;
      &nbsp;
      <li *ngIf="!isLoggedIn()" class="nav-item active">
        <a class="nav-link nj" routerLink="/login">Login</a>
      </li>

      <li *ngIf="isLoggedIn()" class="nav-item active">
        <a class="nav-link res" routerLink="/register"><strong>Register</strong></a>
      </li>

      &nbsp;
      &nbsp;
      
      <li *ngIf="isLoggedIn()" class="nav-item active">
        <a class="nav-link log"  (click)="logout()" ><strong>Logout</strong></a>
      </li>


      <li *ngIf="isLoggedIn()" class="nav-item active">
        <a class="nav-link" routerLink="/category" id="hii" >Category</a>
      </li>
      <li *ngIf="isLoggedIn()" class="nav-item">
        <a class="nav-link" routerLink="/product" id="hi" >Product</a>
      </li>

      <li class="nav-item">
        <img [src]="hello" id="img" (click)="refresh()" class="btn">
        <span id="mart">Fresh Mart</span>
      </li>

    </ul>
  </div>
  
</nav>
  
<!-- <div *ngFor="let ele of list; index as i; first as f; last as l">
  <div>{{ele}} index: {{i}} <span *ngIf="f"> First</span><span *ngIf="l"> Last</span></div>
</div> -->


<router-outlet></router-outlet>