
<h4 class=" w-50 text-center">Admin Access Portal</h4>

<br>
<br>
<h2 class=" w-50 text-center">Fresh Mart Products Data</h2>
<br>
<br>

<table style="width:60%">
  <tr>
    <th>Company</th>
    <th>Contact</th>
    <th>Product</th>
    <th>Country</th>
    <th>Quantity</th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Vegetables</td>
    <td>Germany</td>
    <td>200 pcs</td>

  </tr>
  <tr>
    <td>Nobel h.j</td>
    <td>JJ thomson</td>
    <td>Fruits</td>
    <td>Germany</td>
    <td>1000 pcs</td>
  </tr>

  <tr>
    <td>Amul</td>
    <td>Sambhuji</td>
    <td>Fresh Milk</td>
    <td>India</td>
    <td>600 pcs</td>
  </tr>

  <tr>
    <td>Afgani fog</td>
    <td>Kasim Shaikh</td>
    <td>Dry Fruits</td>
    <td>Afganistan</td>
    <td>800 pcs</td>
  </tr>

  <tr>
    <td>Munawar Farooq</td>
    <td>Mary len</td>
    <td>Raw Protiens</td>
    <td>England</td>
    <td>900 pcs</td>
  </tr>

  <tr>
    <td>FruitsKen</td>
    <td>Anders lame</td>
    <td>Eggs</td>
    <td>Germany</td>
    <td>1500 pcs</td>
  </tr>

  <tr>
    <td>Sossage hj</td>
    <td>Munro farm</td>
    <td>Fresh Meats</td>
    <td>Bangladesh</td>
    <td>600 pcs</td>
  </tr>

  <tr>
    <td>Oji Farm</td>
    <td>Parvinder Singh</td>
    <td>Coffee And Tea Powder</td>
    <td>India</td>
    <td>800 pcs</td>
  </tr>

  <tr>
    <td>JJ lomson</td>
    <td>Maria Anders</td>
    <td>Chocolate And Milk Powder</td>
    <td>France</td>
    <td>1400 pcs</td>
  </tr>

  <tr>
    <td>NJ Farm</td>
    <td>Maria Anders</td>
    <td>Snacks And Buiscuits</td>
    <td>U.S</td>
    <td>100 pcs</td>
  </tr>






</table>
<br><br>
<p class="text-center w-50 logo">This Is Confidential Data Dont Share With Any One Else Only Admin Can Access It</p>